In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'/Users/sophie/Desktop/CareerFoundry /09 2023 Phython'
path

'/Users/sophie/Desktop/CareerFoundry /09 2023 Phython'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'prepared data ', 'df_merge_instacard_cust.pkl'))
pd.options.display.max_columns = None
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_hours,busiest_period_of_day,max_order,loyalty_flag,order_regularity,order regularity flag,average_spend,spending flag,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,Average orders,10,New customer,20.5,Non-frequent customer,6.367797,Low spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,Average orders,10,New customer,20.5,Non-frequent customer,6.367797,Low spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,Most orders,10,New customer,20.5,Non-frequent customer,6.367797,Low spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,Average orders,10,New customer,20.5,Non-frequent customer,6.367797,Low spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,Most orders,10,New customer,20.5,Non-frequent customer,6.367797,Low spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [5]:
# Create a crosstab between two columns for comparison
# For example to check if all missings in order numbers have day since prior order = 0
# Same logic as Pivot tables 

crosstab = pd.crosstab(ords_prods_merge['days_since_prior_order'], ords_prods_merge['order_number'], dropna = False)

In [6]:
# Object crosstab cumbersome to view directly in Python
# Copy  table straight to clipboard, allowing to then paste it into Excel for easy viewing

crosstab.to_clipboard()